<%- include('partials/adminHeader') %>

        <div class="alpha-app">
          <div class="page-header">
            <%- include('partials/adminNavbar') %>
          </div>
            
          <%- include('partials/adminSidebar') %>

          <div class="page-content">
            <div class="container-fluid">
              <div class="row">
                <div class="col-12">
                  <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12">
                      <div class="card dashboard-info">
                        <div class="card-body d-flex">
                          <div class="dashboard-info-icon">
                            <img src="/images/dashboard-users.png" alt="Total Users">
                          </div>
                          <div class="dashboard-info-text">
                            <h5>Total Users</h5>
                            <h5><%= userCount %></h5>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                      <div class="card dashboard-info">
                        <div class="card-body d-flex">
                          <div class="dashboard-info-icon">
                            <img src="/images/dashboard-donations.png" alt="Total Donations">
                          </div>
                          <div class="dashboard-info-text">
                            <h5>Total Donations</h5>
                            <h5><%= foodDonationCount + cashDonationCount %></h5>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                      <div class="card dashboard-info">
                        <div class="card-body d-flex">
                          <div class="dashboard-info-icon">
                            <img src="/images/dashboard-users.png" alt="Active Users">
                          </div>
                          <div class="dashboard-info-text">
                            <h5>Active Users</h5>
                            <h5><%= userCount %></h5> <!-- Change to users that have logged in within the past month -->
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                      <div class="card dashboard-info">
                        <div class="card-body d-flex">
                          <div class="dashboard-info-icon">
                            <img src="/images/dashboard-dispatch-riders.png" alt="Dispatch Riders">
                          </div>
                          <div class="dashboard-info-text">
                            <h5>Dispatch Riders</h5>
                            <h5>0</h5>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                      <div class="card dashboard-info">
                        <div class="card-body d-flex">
                          <div class="dashboard-info-icon">
                            <img src="/images/dashboard-chat.png" alt="Pending Chat">
                          </div>
                          <div class="dashboard-info-text">
                            <h5>Pending Chat</h5>
                            <h5><%= pendingChat.length %></h5>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                      <div class="card dashboard-info">
                        <div class="card-body d-flex">
                          <div class="dashboard-info-icon">
                            <img src="/images/dashboard-referrals.png" alt="Referred Users">
                          </div>
                          <div class="dashboard-info-text">
                            <h5>Referred Users</h5>
                            <h5>0</h5>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- New Users & Donations Tables -->
                  <div class="row">
                    <div class="col-lg-6 col-sm-12">
                      <div class="dashboard-table">
                        <h4>Latest Users</h4>

                        <% if (latestUsers.length > 1) { %>
                          <% latestUsers.forEach((user, i) => { %>
                            <% if (latestUsers.length - 1 === i) { %>
                            <div class="media mb-0">
                            <% } else { %>
                            <div class="media mb-2">
                            <% } %>
                            <a>
                              <img class="media-object d-flex mr-3 bg-light rounded-circle" src="https://robohash.org/<%= user.username %>?set=set3" height="52">
                            </a>
                            <div class="media-body">
                              <h5 class="mt-1 mb-2"><%= user.firstName %> <%= user.lastName %></h5>
                              <div class="badge badge-primary p-1 mb-2">
                                @<%= user.username %>
                              </div>
                            </div>
                            <div class="mt-1">
                              <small><%= helpers.formatDateToNow(user.createdAt) %></small>
                              <!-- <i class="material-icons">more_vert</i> -->
                            </div>
                          </div>
                          <% }) %>
                        <% } else { %>
                          <p class="mt-4">No user yet!</p>
                        <% } %>
                      </div>
                    </div>
                    <div class="col-lg-6 col-sm-12">
                      <div class="dashboard-table">
                        <h4>Recent Donations</h4>

                        <div class="media mb-2">
                          <a>
                            <img class="media-object d-flex mr-3 bg-primary rounded-circle"
                              src="/images/profile.jpg" height="45">
                          </a>
                          <div class="media-body">
                            <h5 class="mt-1 mb-0">Omezibe Obioha</h5>
                            <p class="text-muted">Enugu, NG</p>
                          </div>
                          <div class="mt-1">
                            <small>PickUp Donation</small>
                            <!-- <i class="material-icons">more_vert</i> -->
                          </div>
                        </div>
                        <div class="media mb-2">
                          <a>
                            <img class="media-object d-flex mr-3 bg-primary rounded-circle"
                              src="/images/profile.jpg" height="45">
                          </a>
                          <div class="media-body">
                            <h5 class="mt-1 mb-0">Omezibe Obioha</h5>
                            <p class="text-muted">Enugu, NG</p>
                          </div>
                          <div class="mt-1">
                            <small>PickUp Donation</small>
                            <!-- <i class="material-icons">more_vert</i> -->
                          </div>
                        </div>
                        <div class="media mb-2">
                          <a>
                            <img class="media-object d-flex mr-3 bg-primary rounded-circle"
                              src="/images/profile.jpg" height="45">
                          </a>
                          <div class="media-body">
                            <h5 class="mt-1 mb-0">Omezibe Obioha</h5>
                            <p class="text-muted">Enugu, NG</p>
                          </div>
                          <div class="mt-1">
                            <small>Monetary Donation</small>
                            <!-- <i class="material-icons">more_vert</i> -->
                          </div>
                        </div>
                        <div class="media mb-0">
                          <a>
                            <img class="media-object d-flex mr-3 bg-primary rounded-circle"
                              src="/images/profile.jpg" height="45">
                          </a>
                          <div class="media-body">
                            <h5 class="mt-1 mb-0">Omezibe Obioha</h5>
                            <p class="text-muted">Enugu, NG</p>
                          </div>
                          <div class="mt-1">
                            <small>DropOff Donation</small>
                            <!-- <i class="material-icons">more_vert</i> -->
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <%- include('../partials/appLoader') %>
        
    <%- include('partials/adminFooter') %>
  </body>
</html>