<%- include('partials/adminHeader') %>

        <div class="alpha-app">
          <div class="page-header">
            <%- include('partials/adminNavbar') %>
          </div>
            
          <%- include('partials/adminSidebar') %>

          <div class="page-content">
            <div class="container-fluid">
              <div class="row">
                <div class="col-12">
                  <div class="donation-container">
                    <!-- Food Donations -->
                    <div class="donation-container-inner">
                      <div class="donation-container-header">
                        <h5>Food Donations</h5>
                        <div class="donation-container-actions">
                          <span class="btn btn-primary filter">
                            <i class="material-icons">filter_list</i>Filter
                          </span>
                        </div>
                      </div>
                      <div class="table-responsive">
                        <table class="table white border-radius-4 pt-1 no-footer dtr-column collapsed" role="grid">
                          <thead>
                            <tr role="row">
                              <th>S/N</th>
                              <th>Donation Number</th>
                              <th>No. of Items Donated</th>
                              <th>Delivery Option</th>
                              <th>Status</th>
                              <th>Date Created</th>
                              <th>Action</th>
                            </tr>
                          </thead>

                          <tbody>
                            <tr role="row" class="odd">
                              <td>1</td>
                              <td>THI/FD/49056</td>
                              <td>15 Items</td>
                              <td>Pick-Up Donation</td>
                              <td><span class="badge badge-success">Delivered</span></td>
                              <td>Dec 5th, 2020</td>
                              <td><a href="javascript:;">
                                  <i class="material-icons">assignment</i>
                                  <i class="material-icons text-dark">edit</i>
                                  <i class="material-icons">filter_center_focus</i>
                                </a></td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>

                    <!-- Monetary Donations -->
                    <div class="donation-container-inner">
                      <div class="donation-container-header">
                        <h5>Monetary Donations</h5>
                        <div class="donation-container-actions">
                          <span class="btn btn-primary filter">
                            <i class="material-icons">filter_list</i>Filter
                          </span>
                        </div>
                      </div>
                      <div class="table-responsive">
                        <table class="table white border-radius-4 pt-1 no-footer dtr-column collapsed" role="grid">
                          <thead>
                            <tr role="row">
                              <th>S/N</th>
                              <th>Reference Number</th>
                              <th>Donor</th>
                              <th>Amount (₦)</th>
                              <th>Status</th>
                              <th>Date Created</th>
                              <th>Action</th>
                            </tr>
                          </thead>

                          <tbody>
                            <tr role="row" class="odd">
                              <td>1</td>
                              <td>60e99ddf797bfb194b568073</td>
                              <td>Ivory Foundation</td>
                              <td>₦12,500</td>
                              <td><span class="badge badge-success">Success</span>
                              </td>
                              <td>10/07/2021</td>
                              <td><a href="javascript:;">
                                  <i class="material-icons">assignment</i>
                                </a></td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <%- include('../partials/appLoader') %>
        
    <%- include('partials/adminFooter') %>
  </body>
</html>