<%- include('partials/adminHeader') %>

        <div class="alpha-app">
          <div class="page-header">
            <%- include('partials/adminNavbar') %>
          </div>
            
          <%- include('partials/adminSidebar') %>

          <div class="page-content">
            <div class="container-fluid">
              <div class="row">
                <div class="col-12">
                  <div class="donation-container">
                    <!-- Food Donations -->
                    <div class="donation-container-inner">
                      <div class="donation-container-header">
                        <h5>Food Donations</h5>
                        <div class="donation-container-actions">
                          <span class="btn btn-primary filter">
                            <i class="material-icons">filter_list</i>Filter
                          </span>
                        </div>
                      </div>
                      <div class="table-responsive">
                        <table class="table white border-radius-4 pt-1 no-footer dtr-column collapsed" role="grid">
                          <thead>
                            <tr role="row">
                              <th>S/N</th>
                              <th>Donation Id</th>
                              <th>No. of Items Donated</th>
                              <th>Delivery Option</th>
                              <th>Status</th>
                              <th>Date Created</th>
                              <th>Action</th>
                            </tr>
                          </thead>

                          <tbody>
                            <% if (foodDonations.length > 1) { %>
                              <% foodDonations.forEach((donation, i) => { %>
                                <tr role="row" class="odd">
                                  <td><%= i + 1 %></td>
                                  <td><%= donation._id %></td>
                                  <td><%= donation.items.reduce((total, items) => total + items.quantity, 0) %> Items</td>
                                  <td style="text-transform: capitalize;"><%= donation.deliveryOption %> Donation</td>
                                  <td><span class="badge badge-success">Delivered</span></td>
                                  <td><%= helpers.reformatDate(donation.createdAt.toDateString()) %></td>
                                  <td>
                                    <a href="javascript:;">
                                      <i class="material-icons">assignment</i>
                                      <i class="material-icons text-dark">edit</i>
                                      <i class="material-icons">filter_center_focus</i>
                                    </a>
                                  </td>
                                </tr>
                              <% }) %>
                            <% } else { %>
                            <tr>
                              <td colspan="7" class="text-center">You haven't donated any food yet.</td>
                            </tr>
                            <% } %>
                          </tbody>
                        </table>
                      </div>
                    </div>

                    <!-- Monetary Donations -->
                    <div class="donation-container-inner">
                      <div class="donation-container-header">
                        <h5>Monetary Donations</h5>
                        <div class="donation-container-actions">
                          <span class="btn btn-primary filter">
                            <i class="material-icons">filter_list</i>Filter
                          </span>
                        </div>
                      </div>
                      <div class="table-responsive">
                        <table class="table white border-radius-4 pt-1 no-footer dtr-column collapsed" role="grid">
                          <thead>
                            <tr role="row">
                              <th>S/N</th>
                              <th>Reference Id</th>
                              <th>Donor</th>
                              <th>Amount (₦)</th>
                              <th>Status</th>
                              <th>Date Created</th>
                              <th>Action</th>
                            </tr>
                          </thead>

                          <tbody>
                            <% if (cashDonations.length > 1) { %>
                            <% cashDonations.forEach((donation, i) => { %>
                            <tr role="row" class="odd">
                              <td><%= i + 1 %></td>
                              <td><%= donation._id %></td>
                              <td><%= donation.donorName %></td>
                              <td>₦<%= donation.amount.toLocaleString() %></td>
                              <td><span class="badge badge-<%=donation.transactionStatus%>"><%= helpers.capitalise(donation.transactionStatus) %></span>
                              </td>
                              <td><%= helpers.reformatDate(donation.createdAt.toDateString()) %></td>
                              <td><a href="javascript:;">
                                  <i class="material-icons">assignment</i>
                                </a></td>
                            </tr>
                            <% }) %>
                            <% } else { %>
                            <tr>
                              <td colspan="7" class="text-center">You haven't made any cash donations yet.</td>
                            </tr>
                            <% } %>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <%- include('../partials/appLoader') %>
        
    <%- include('partials/adminFooter') %>
  </body>
</html>