<%- include('partials/adminHeader') %>

        <div id="user-data" data='<%= JSON.stringify(user) %>' class="alpha-app">
          <div class="page-header">
            <%- include('partials/adminNavbar') %>
          </div>
            
          <%- include('partials/adminSidebar') %>

          <div class="page-content">
            <div class="container-fluid">
              <div class="row">
                <div class="col-12">
                  <div class="chat-container">
                    <div class="row">
                      <div class="col-lg-4 col-sm-12">
                        <div class="chat-userlist">
                          <div id="conversation-box" class="list-group position-relative">
                            <!--<a class="list-group-item border-0">
                              <span class="media">
                                <span class="avatar avatar-md avatar-online">
                                  <img class="media-object d-flex mr-3 bg-primary rounded-circle" src="/images/profile.jpg" alt="User Image" height="50">
                                  <i></i>
                                </span>
                                <div class="media-body">
                                  <h6 class="list-group-item-heading">Elizabeth Elliott
                                    <span class="p-1 text-white float-right primary">4:14 AM</span>
                                  </h6>
                                  <p class="d-flex text-muted m-0" style="justify-content: flex-start; align-items: center;">
                                    <i class="material-icons mr-1">check</i>
                                    <span>Okay</span>
                                  </p>
                                </div>
                              </span>
                            </a>
                            <a class="list-group-item border-0">
                              <span class="media">
                                <span class="avatar avatar-md avatar-busy">
                                  <img class="media-object d-flex mr-3 bg-primary rounded-circle" src="/images/profile.jpg" alt="User Image" height="50">
                                  <i></i>
                                </span>
                                <div class="media-body">
                                  <h6 class="list-group-item-heading">Kristopher Candy
                                    <span class="p-1 text-white float-right primary">9:04 PM</span>
                                  </h6>
                                  <p class="d-flex text-muted m-0" style="justify-content: flex-start; align-items: center;">
                                    <i class="material-icons mr-1">check</i> 
                                    <span>Thank you</span>
                                  </p>
                                </div>
                              </span>
                            </a>
                            <a class="list-group-item border-0">
                              <span class="media">
                                <span class="avatar avatar-md avatar-away">
                                  <img class="media-object d-flex mr-3 bg-primary rounded-circle" src="/images/profile.jpg" alt="User Image" height="50">
                                  <i></i>
                                </span>
                                <div class="media-body">
                                  <h6 class="list-group-item-heading">Sarah Woods
                                    <span class="p-1 text-white float-right primary">2:14 AM</span>
                                  </h6>
                                  <p class="d-flex text-muted m-0" style="justify-content: flex-start; align-items: center;">
                                    <i class="material-icons mr-1">check</i>
                                    <span>Hello Omzi!</span>
                                  </p>
                                </div>
                              </span>
                            </a>
                            <a class="list-group-item border-0">
                              <span class="media">
                                <span class="avatar avatar-md avatar-away">
                                  <img class="media-object d-flex mr-3 bg-primary rounded-circle" src="/images/profile.jpg" alt="User Image" height="50">
                                  <i></i>
                                </span>
                                <div class="media-body">
                                  <h6 class="list-group-item-heading">Bruce Reid
                                    <span class="p-1 text-white float-right primary">Yesterday</span>
                                  </h6>
                                  <p class="d-flex text-muted m-0" style="justify-content: flex-start; align-items: center;">
                                    <i class="material-icons mr-1">check</i> Will connect you</p>
                                </div>
                              </span>
                            </a>
                            <a class="list-group-item border-0">
                              <span class="media">
                                <span class="avatar avatar-md avatar-online">
                                  <img class="media-object d-flex mr-3 bg-primary rounded-circle" src="/images/profile.jpg" alt="User Image" height="50">
                                  <i></i>
                                </span>
                                <div class="media-body">
                                  <h6 class="list-group-item-heading">Heather Howell
                                    <span class="p-1 text-white float-right primary">Friday</span>
                                  </h6>
                                  <p class="d-flex text-muted m-0" style="justify-content: flex-start; align-items: center;">
                                    <i class="material-icons mr-1">check</i>
                                    <span>Thank you</span>
                                  </p>
                                </div>
                              </span>
                            </a>
                            <a class="list-group-item border-0">
                              <span class="media">
                                <span class="avatar avatar-md avatar-busy">
                                  <img class="media-object d-flex mr-3 bg-primary rounded-circle" src="/images/profile.jpg" alt="User Image" height="50">
                                  <i></i>
                                </span>
                                <div class="media-body">
                                  <h6 class="list-group-item-heading">Kelly Reyes
                                    <span class="p-1 text-white float-right primary">Thursday</span>
                                  </h6>
                                  <p class="d-flex text-muted m-0" style="justify-content: flex-start; align-items: center;">
                                    <i class="material-icons mr-1">check</i>
                                    <span>I love you</span>
                                  </p>
                                </div>
                              </span>
                            </a>
                            <a class="list-group-item border-0">
                              <span class="media">
                                <span class="avatar avatar-md avatar-online">
                                  <img class="media-object d-flex mr-3 bg-primary rounded-circle" src="/images/profile.jpg" alt="User Image" height="50">
                                  <i></i>
                                </span>
                                <div class="media-body">
                                  <h6 class="list-group-item-heading">Vincent Nelson</h6>
                                  <p class="d-flex text-muted m-0" style="justify-content: flex-start; align-items: center;">
                                    <i class="material-icons mr-1 text-primary">done_all</i> Who are you?</p>
                                </div>
                              </span>
                            </a>
                            <a class="list-group-item border-0">
                              <span class="media">
                                <span class="avatar avatar-md avatar-away">
                                  <img class="media-object d-flex mr-3 bg-primary rounded-circle" src="/images/profile.jpg" alt="User Image" height="50">
                                  <i></i>
                                </span>
                                <div class="media-body">
                                  <h6 class="list-group-item-heading">Jeremy Wayne
                                    <span class="p-1 text-white float-right primary">Yesterday</span>
                                  </h6>
                                  <p class="d-flex text-muted m-0" style="justify-content: flex-start; align-items: center;">
                                    <i class="material-icons mr-1">check</i> Will connect you</p>
                                </div>
                              </span>
                            </a>
                            <a class="list-group-item border-0">
                              <span class="media">
                                <span class="avatar avatar-md avatar-away">
                                  <img class="media-object d-flex mr-3 bg-primary rounded-circle" src="/images/profile.jpg" alt="User Image" height="50">
                                  <i></i>
                                </span>
                                <div class="media-body">
                                  <h6 class="list-group-item-heading">Angela Wu
                                    <span class="p-1 text-white float-right primary">Last week</span>
                                  </h6>
                                  <p class="d-flex text-muted m-0" style="justify-content: flex-start; align-items: center;">
                                    <i class="material-icons mr-1">check</i> Hi ya!</p>
                                </div>
                              </span>
                            </a>-->
                          </div>
                        </div>
                      </div>
                      <div class="col-12">
                        <h5>Live Chat</h5>

                        <section class="chat-window">
                          <div class="chats" id="chats-container">
                            <input type="hidden" id="hidden-input">
                          </div>
                        </section>

                        <div class="chat-footer">
                          <span class="material-icons mr-2 emoji">sentiment_very_satisfied</span>
                          <input type="text" placeholder="Type something here..." class="browser-default" id="message-box">
                          <span id="send-message" class="material-icons ml-2 send">send</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <%- include('../partials/appLoader') %>
        
    <%- include('partials/adminFooter') %>
    <script src="/js/socket.io.min.js"></script>
    <script src="/js/moment.min.js"></script>
    <script src="/js/chat.js"></script>
  </body>
</html>