<%- include('partials/adminHeader') %>

        <div class="alpha-app">
          <div class="page-header">
            <%- include('partials/adminNavbar') %>
          </div>
            
          <%- include('partials/adminSidebar') %>

          <div class="page-content">
            <div class="container-fluid">
              <div class="row">
                <div class="col-12">
                  <div class="donation-container">
                    <div class="donation-container-inner">
                      <div class="donation-container-header">
                        <h5>User Management</h5>
                        <div class="donation-container-actions">
                          <span class="filter">
                            <i class="material-icons">filter_list</i>&nbsp; Filter
                          </span>
                          <a href="/admin/users/new" class="btn btn-primary btn-large">
                            <i class="material-icons left">add</i>Create User
                          </a>
                        </div>
                      </div>
                      <div class="table-responsive">
                        <table class="table white border-radius-4 pt-1 no-footer dtr-column collapsed" role="grid">
                          <thead>
                            <tr role="row">
                              <th>S/N</th>
                              <th>Full Name</th>
                              <th>Email Address</th>
                              <th>Phone Number</th>
                              <th>User Role</th>
                              <th>Date Created</th>
                              <th>Action</th>
                            </tr>
                          </thead>

                          <tbody>
                            <% if (allUsers.length > 0) { %>
                              <% allUsers.forEach((user, i) => { %>
                                <tr role="row" class="odd">
                                  <td><%= i + 1 %></td>
                                  <td><%= user.firstName %> <%= user.lastName %></td>
                                  <td><%= user.email %></td>
                                  <td><%= user.phoneNumber %></td>
                                  <td style="text-transform: capitalize;"><%= user.role %></td>
                                  <td><%= helpers.reformatDate(user.createdAt.toDateString()) %></td>
                                  <td>
                                    <a href="/admin/users/edit/<%= user._id %>">
                                      <i class="material-icons text-dark">edit</i>
                                    </a>
                                    <% if (user.role !== 'admin') { %>
                                    <i class="material-icons text-primary delete-user" data-user-id="<%= user._id %>" style="cursor: pointer;">delete</i>
                                    <% } %>
                                  </td>
                                </tr>
                              <% }) %>
                            <% } else { %>
                            <tr>
                              <td colspan="7" class="text-center">No users yet 👀.</td>
                            </tr>
                            <% } %>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <%- include('../partials/appLoader') %>
        
    <%- include('partials/adminFooter') %>
    <script>
      const $$ = document.querySelectorAll.bind(document);

      $$('.delete-user').forEach(button => {
        button.addEventListener('click', e => {
          const { userId } = e.target.dataset;
          
          iziToast.question({
            timeout: null,
            close: false,
            overlay: true,
            displayMode: 'once',
            zindex: 9999,
            title: 'Warning!',
            message: 'Are you sure you want to delete this user?',
            position: 'center',
            buttons: [
                ['<button><b>YES</b></button>', async function (instance, toast) {
                  await axios({
                    method: 'DELETE',
                    url: `/api/v1/users/${userId}`
                  }).then(() => {
                    instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
                    iziToast.info({ message: 'User deleted successfully!', timeout: 3e3, position: 'topCenter' })
                    e.target.closest('tr').remove();
                  });
                }, true],
                ['<button>NO</button>', function (instance, toast) {
                  instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
                }],
            ]
          });
        })
      })
    </script>
  </body>
</html>