<%- include('partials/donorHeader') %>

        <div class="alpha-app">
          <div class="page-header">
            <%- include('partials/donorNavbar') %>
          </div>

          <%- include('partials/donorSidebar') %>

          <div class="page-content">
            <div class="container-fluid">
              <div class="row">
                <div class="col-12">
                  <div class="donation-container">
                    <div class="donation-container-inner">
                      <div class="donation-container-header">
                        <h5> Food Donations</h5>
                        <div class="donation-container-actions">
                          <span class="filter">
                            <i class="material-icons">filter_list</i>&nbsp; Filter
                          </span>
                          <a href="javascript:;" class="btn btn-primary btn-large">
                            <i class="material-icons left">add</i>New Donation
                          </a>
                        </div>
                      </div>
                      <div class="table-responsive">
                        <table class="table white border-radius-4 pt-1 no-footer dtr-column collapsed" role="grid">
                          <thead>
                            <tr role="row">
                              <th>S/N</th>
                              <th>Donation Number</th>
                              <th>No. of Items Donated</th>
                              <th>Delivery Option</th>
                              <th>Status</th>
                              <th>Date Created</th>
                              <th>Action</th>
                            </tr>
                          </thead>

                          <tbody>
                            <% if (foodDonation.length > 0) { %>
                            <tr>Yap, data</tr>
                            <% } else { %>
                            <tr>
                              <td colspan="7" class="text-center">You haven't donated any food yet.</td>
                            </tr>
                            <% } %>
                            <!-- <tr role="row" class="odd">
                                  <td>3</td>
                                  <td>THI/FD/49056</td>
                                  <td>15 Items</td>
                                  <td>Pick-Up Donation</td>
                                  <td><span class="badge badge-success">Delivered</span></td>
                                  <td>Dec 5th, 2020</td>
                                  <td><a href="javascript:;">
                                      <i class="material-icons">assignment</i>
                                      <i class="material-icons text-dark">edit</i>
                                      <i class="material-icons">filter_center_focus</i>
                                    </a></td>
                                </tr>-->
                          </tbody>
                        </table>
                      </div>
                    </div>


                    <!-- Monetary Donations -->
                    <div class="donation-container-inner">
                      <div class="donation-container-header">
                        <h5>Monetary Donations</h5>
                        <div class="donation-container-actions">
                          <span class="filter">
                            <i class="material-icons">filter_list</i>&nbsp; Filter
                          </span>
                          <button class="btn btn-primary btn-large" data-toggle="modal"
                            data-target="#monetaryDonationDetailsModal">
                            <i class="material-icons left">add</i>New Monetary Donation
                          </button>

                          <!-- Modal -->
                          <div class="modal fade" id="monetaryDonationDetailsModal" tabindex="-1" role="dialog"
                            aria-labelledby="monetaryDonationDetailsModalTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="monetaryDonationDetailsModalTitle">Payment Information
                                  </h5>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <i class="material-icons">close</i>
                                  </button>
                                </div>
                                <form>
                                  <div class="modal-body">
                                    <input type="hidden" name="email" value="<%= user.email %>">
                                    <div class="input-group">
                                      <label for="donorName">Donor Name</label>
                                      <input type="text" name="donorName" id="donorName" placeholder="Your first name"
                                        required="true" class="browser-default"
                                        value="<%= user.firstName %> <%= user.lastName %>">
                                      <img src="/images/icons/person-icon.png" alt="person icon">
                                    </div>

                                    <div class="input-group">
                                      <label for="amount">Amount (₦)</label>
                                      <input type="number" name="amount" id="amount"
                                        placeholder="Your desired amount (in naira)" required="true"
                                        class="browser-default">
                                      <img src="/images/icons/card-icon.png" alt="person icon">
                                    </div>
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-text-secondary"
                                      data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary" id="pay">Pay</button>
                                  </div>
                                </form>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="table-responsive">
                        <table class="table white border-radius-4 pt-1 no-footer dtr-column collapsed" role="grid">
                          <thead>
                            <tr role="row">
                              <th>S/N</th>
                              <th>Reference Number</th>
                              <th>Donor</th>
                              <th>Status</th>
                              <th>Date Created</th>
                              <th>Action</th>
                            </tr>
                          </thead>

                          <tbody>
                            <% if(cashDonation.length > 1) { %>
                            <% cashDonation.forEach((donation, i) => { %>
                            <tr role="row" class="odd">
                              <td><%= i + 1 %></td>
                              <td><%= donation._id %></td>
                              <td><%= donation.donorName %></td>
                              <td><span class="badge badge-<%=donation.transactionStatus%>"><%= helpers.capitalise(donation.transactionStatus) %></span>
                              </td>
                              <td><%= donation.createdAt.toDateString() %></td>
                              <td><a href="javascript:;">
                                  <i class="material-icons">assignment</i>
                                </a></td>
                            </tr>
                            <% }) %>
                            <% } else { %>
                            <tr>
                              <td colspan="6" class="text-center">You haven't made any cash donations yet.</td>
                            </tr>
                            <% } %>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <%- include('../partials/appLoader') %>
        
    
    <%- include('partials/donorFooter') %>
    <script src="/js/monetary-donation.js"></script>
  </body>
</html>