<%- include('partials/donorHeader') %>

        <div id="user-data" data='<%= JSON.stringify(user) %>' class="alpha-app">
          <div class="page-header">
            <%- include('partials/donorNavbar') %>
          </div>
            
          <%- include('partials/donorSidebar') %>

          <div class="page-content">
            <div class="container-fluid">
              <div class="row">
                <div class="col-12">
                  <div class="chat-container">
                    <h5>Live Chat</h5>

                    <section class="chat-window">
                      <div class="chats" id="chats-container">
                        <input type="hidden" id="hidden-input">
                      </div>
                    </section>

                    <div class="chat-footer">
                      <span class="material-icons mr-2 emoji">sentiment_very_satisfied</span>
                      <input type="text" placeholder="Type something here..." class="browser-default" id="message-box">
                      <span class="material-icons ml-2 send" id="send-message">send</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <%- include('../partials/appLoader') %>
        
    <%- include('partials/donorFooter') %>
    <script src="/js/socket.io.min.js"></script>
    <script src="/js/moment.min.js"></script>
    <script src="/js/chat.js"></script>
  </body>
</html>